*.swp
*.vim
*.o
*.txt

todo.md

tui/main
tui/plot_data.py
tui/tui

INS/Drivers/*
INS/Debug/*
INS/Core/Startup/*
INS/.cproject
INS/.mxproject
INS/.project
INS/.settings/language.settings.xml
INS/.settings/stm32cubeide.project.prefs

*.launch
*.ld
